/* Extra Extra Large Device */
@media (min-width:1400px){

}

/* Extra Large Device */
@media (min-width:1200px) and (max-width:1399.98px){
             

 
}

/* Large Device */
@media (min-width:992px) and (max-width:1199.98px){
    #banner {
        height: 680px;
    }
    #banner .banner_content h1 {
        font-size: 55px;
        letter-spacing: 26px;
    }
    #about .about_item {
        padding: 35px 45px 55px;
    }
}

/* Medium Device */
@media (min-width:768px) and (max-width:991.98px){

}

/* Small Device */
@media (min-width:576px) and (max-width:767.98px){

}

/* Extra Small Device */
@media (max-width:575.98px){

}